/restats
.vscode/tasks.json
zara-zackig/dokumentation.aux
zara-zackig/dokumentation.fdb_latexmk
zara-zackig/dokumentation.fls
zara-zackig/dokumentation.log
zara-zackig/dokumentation.out
zara-zackig/dokumentation.synctex.gz
zara-zackig/dokumentation.toc
hexmax/dokumentation.log
hexmax/dokumentation.fdb_latexmk
zara-zackig/dokumentation.bbl
zara-zackig/dokumentation.blg
hexmax/__pycache__/
hexmax/dokumentation.synctex.gz
